.button{
  &.button-login{
    background-color: $color-button-login;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    border-bottom-width: 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    span{
      text-align: center;
    }

    &:focus{
      background-color: $color-button-login-pressed;
    }
  }
}
