$base--background: #fafafa;
$base-background-main : #ECF0F1;

//fonts
$color-white: #fff;
$color-dark: #363636;

// Login
$base--login--background : #f5f5f5;
$base-login-pane-title : #E6E6E6;
$base-login-border : #e67e22;

// profile picture
$photo-border-profile : #e67e22;

// button
$color-button-login: #e67e22;
$color-button-login-pressed : #D47420;

// navbar
$color-navbar-primary: #2ecc71;
$color-navbar-hover: #27ae60;
