.navbar-three{
  background-color: $color-navbar-primary;
  border-color: #e7e7e7;
  color: $color-white;
  margin-bottom: 0px;
}

.navbar-brand{padding: 5px;}
.brand-logo{height: 40px; display: inline;}
.brand-title{
  color: white;
  text-decoration: none;
}
.navbar-nav{
  color: $color-white;
  li{
    a{
      color: $color-white;
      &:hover, &:focus{
        background-color: $color-navbar-hover;
      }
    }
  }
};
.breadcrumb{
  margin-top: -20px;
  padding: 10px 65px;
  background-color: $base--background;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: $color-navbar-hover;
}
.dropdown-menu{
  background-color: #545454;
}
