@media #{$common-device}{
    html,body {
        background-color: $base--background;
        height: 100%;
        overflow: hidden;
        font-size: 12px;
        font-family: $primary-font;
        font-weight: 300;
        &.mainpage {
            padding-top: 70px;
            overflow: auto;
            background-color: $base-background-main;
        }
    }
    a { color: $color-dark};
    .fill-height {
        min-height: 100%;
        height: auto !important;
        height: 100%;
    };
    .body-film {
        min-height: 100%;
        overflow-y: scroll;
    }
    .container-main,
    .container-nopa {
        &:before {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
    }
    .container-nopa {
        min-height: 100%;
        padding: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .container-main {
        width: 1280px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
        &:before, &:after{
            display: table;
            content: " ";
            box-sizing: border-box;
        }
    }
    .content-wrapper {
        // height: 100%;
        overflow: hidden;
    }
    .wellslider {
        width: 100%;
    }
    .panel-white {
        .search,
        .editBtn {
            padding-top: 10px;
            margin-bottom: 20px;
        }
    }
    table {cursor: pointer;}
    small {font-size: 14px;}
    label {
        font-weight: 300;
        font-size: 14px;
    }
    .table {
        &.table-bordered{
            table-layout: fixed;
            width: 100%;
            white-space: nowrap;
        }
        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        tbody {
            tr {
                &:hover,
                &:focus {
                    background-color: #f7f7f7;
                }
            }
        }
    }
    .lg-icon{
        font-size: 44px;
        color: #3C3C3C;
    }
    .md-icon{
        font-size: 22px;
        color: #3C3C3C;
    }
    .list{
        list-style: none;
        padding: 0;
        .listview{
            background-color: #fafafa;
            padding: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #C5C9CA;
            .big{
                font-size: 16px;
                font-weight: 400;
            }
            .midi{
                font-size: 14px;
                font-weight: 500;
            }
            .row{
                margin: 0;
            }
        }
    }
    .modal-content{
        border-radius: 0;
        padding: 20px;
    }
}

@media #{$desktop}{
    html,body {
        &.mainpage {
            overflow: auto;
        }
    }
}
