@media #{$common-device}{
.panel{
    &.login{
        position: fixed;
        padding: 0;
        background-color: $base--login--background;
        margin-bottom: 0;
        border-radius: 0;
        top: 0;
        left:0;
        bottom: 0;
        width: 100%;
        .top{
            background-color: $color-navbar-primary;
            height: 240px;
            .profile-picture{
                border-radius: 100%;
                overflow: hidden;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                position: relative;
                margin: 0 auto;
                top: 20%;
                &.small-profile-picture {
                    border: 10px solid $color-white;
                    width: 40px;
                    height: 40px;
                }
                &.medium-profile-picture{
                    border: 10px double $color-white;
                    width: 100px;
                    height: 100px;
                }

                .user-photo{
                    width: 100px;
                }
            }
            .login-title-pane{
                background-color: $base-login-pane-title;
                height: 60px;
                width: 100%;
                position: relative;
                text-align: center;
                margin-top: 80px;
                overflow: auto;
                display: table;

                .title{
                      font-size: 16px;
                      font-weight: bold;
                      display: table-cell;
                      vertical-align: middle;
                }
            }
        }
    .content{
      max-height: 50%;
      .login{
        padding: 10px 20px 20px 20px;
        width: 100%;
        position: relative;
      }
    }
    .footer{
      max-height: 20%;
    }
    }

    &.panel-white{
    background-color: white;
    width: 100%;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    }

    .panel-title{
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    }

    &.panel-footer{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid $base-login-border;
    display: none;
    border-radius: 0;
    margin-bottom: 0;
    }
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.card{
    position: relative;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    min-height: 20px;
    padding : 11px;
    &.card-compact{
        padding: 10px;
        font-size: 14px;
        width: 60%;
        display: inline-block;
        hr{
            width: 100px;
            height: 1px;
            border-top: 1px dashed #ddd;
            margin: 12px auto;
        }
    }
    .card-edit{
        position: absolute;
        right: 10px;
        width: 40px;
        height: 30px;
        padding-top: 5px;
        background: #D8D8D8;
        top: 0;
    }
    .sub-card{
        background-color: #f4f4f4;
        overflow: auto;
        padding: 24px 0 18px;
        margin: -10px;
    }
    .card-md-title{
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        margin-left: 15px;
    }
    .card-title{
        font-size: 26px;
        font-weight: 400;
    }
}
}
