@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$primary-font: 'Open Sans',sans-serif;

@media #{$common-device}{
    .mobile {
        &.hide{display: none;}
        &.show{display: block;}
    }
    .padding-none {padding: 0px};
    .without-padding {padding: 0};
    .disable {
        background-color: #EEEEEE;
        tbody{
            tr{
                &:hover { background-color: #EEEEEE !important;}
            }
        }
    };

    .text-center{text-align: center;}
    .text-left{text-align: left;}
    .divider-dot{border-top: 1px dotted black;}
    .row+.row{
        margin-top: 10px;
    }
}
