<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

    <link href="../assets/css/three.css" type="text/css" rel="stylesheet" />
</head>

<body class="mainpage">
    <nav class="navbar navbar-three navbar-fixed-top">
        <div class="container-main">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="mainpage.html">
                    <span><img class="brand-logo" src="../assets/img/white.png"></img></span>
                    <span class="brand-title">Application Name</span>
                </a>
            </div>

            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formulir
              <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mainpage.html">Formulir AK-1</a></li>
                            <li><a href="#">Formulir AK-2</a></li>
                            <li><a href="#">Formulir Surat Keterangan Pindah WNI</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-user fa-fw"></i></a></li>
                </ul>
            </nav>
        </div>
    </nav>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">AK-1</li>
    </ol>
    <div id="box-content" class="container-main content-wrapper">
        <div class="panel panel-white clearfix">
            <div class="row">
                <div class="col-sm-9 col-md-9">
                    <span class="panel-title"> Formulir Isian Kartu Kuning</span>
                    <span>|</span>
                    <small>Kartika Ayu</small>
                </div>
                <div class="col-sm-3 col-md-3 editBtn">
                    <a href="#" class="btn btn-warning pull-right">Edit <i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <form class="form-horizontal">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Tanggal Pengisian</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="" placeholder="Tanggal Pengisian" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Nomor KTP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Nomor KTP" value="350123456789" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Nama Lengkap</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Nama Lengkap" value="Dion Doyle" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Tempat, Tanggal Lahir</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Tempat" value="Surabaya, 15 Oktober 1989" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Berat Badan</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-3 without-padding">
                                        <input type="text" class="form-control" id="" placeholder="Berat Badan" value="61" disabled>
                                    </div>
                                    <div class="col-sm-9 without-padding">
                                        <label class="col-sm-6 control-label">Tinggi Badan</label>
                                        <div class="col-sm-6 without-padding">
                                            <input type="text" class="form-control" id="" placeholder="Tinggi Badan" value="171" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Jenis Kelamin</label>
                                <div class="col-sm-8">
                                    <input type="Jenis Kelamin" class="form-control" id="" placeholder="Jenis Kelamin" value="Laki-laki" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Agama</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Agama" value="Islam" disabled>
                                </div>
                            </div>
                            <h5>Alamat</h5>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Alamat</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" rows="3" disabled>Jl. Halmahera Selatan III A no. 43</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">RT/RW</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="RT/RW" value="02/03" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Desa</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Desa" value="Dinoyo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Kelurahan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Kelurahan" value="Dinoyo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Kabupaten</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Kabupaten" value="Malang" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Telepon/HP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Telepon/HP" value="085645232414" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="the.doyle@gmail.com" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Beban Keluarga</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPassword3" placeholder="Beban Keluarga" value="7" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h5>Pendidikan</h5>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table class="table table-bordered disable">
                                        <thead>
                                            <tr>
                                                <td>Jenjang</td>
                                                <td>Sekolah / Universitas</td>
                                                <td>Jurusan</td>
                                                <td>Tahun Lulus</td>
                                                <td>IPK / NEM</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>S2</td>
                                                <td>Oxford University</td>
                                                <td>Bussiness Management</td>
                                                <td>2015</td>
                                                <td>3.8</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h5>Bahasa Asing</h5>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table class="table table-bordered disable">
                                        <thead>
                                            <tr>
                                                <td>Bahasa Asing</td>
                                                <td>Lisan</td>
                                                <td>Tulisan</td>
                                                <td>Lisan dan Tulisan</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>English</td>
                                                <td>9</td>
                                                <td>9</td>
                                                <td>9</td>
                                            </tr>
                                            <tr>
                                                <td>Deutch</td>
                                                <td>8</td>
                                                <td>8</td>
                                                <td>8</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h5>Data Kursus dan Pelatihan</h5>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table class="table table-bordered disable">
                                        <thead>
                                            <tr>
                                                <td>Nama Lembaga</td>
                                                <td>Nilai / Skor</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Expert Cooking, Inc.</td>
                                                <td>8.5</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h5>Pengalaman Kerja</h5>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table class="table table-bordered disable">
                                        <thead>
                                            <tr>
                                                <td>Perusahaan</td>
                                                <td>Jabatan</td>
                                                <td>Uraian Tugas</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>AMD, Inc.</td>
                                                <td>Human Development Manager</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h5>Pekerjaan yang diinginkan</h5>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Jabatan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Jabatan" value="Manager" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Lokasi</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Lokasi" value="Jakarta" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Jarak</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Jarak" value="10" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Besar Upah Yang Diinginkan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" value="$2500" disabled>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="foot" class="panel panel-footer">
            <div class="container-main">
                <div class="col-sm-12 col-md-12">
                    <button class="btn btn-warning pull-left">Cancel</button>
                    <button class="btn btn-success pull-right">Check</button>
                </div>
            </div>
        </div>
    </div>
    <script type "text/javascript" src="../assets/lib/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/global.js"></script>
</body>

</html>
