<!DOCTYPE html>
<html>
    <head>
        <title>Form AK-1 Display</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link href="../assets/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

        <link href="../assets/css/three.css" type="text/css" rel="stylesheet" />
        <link href="../assets/css/temporary.css" type="text/css" rel="stylesheet" />
    </head>
    <body class="mainpage">
        <nav class="navbar navbar-three navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 col-md-12">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
                          <i class="fa fa-bars fa-fw"></i>
                        </button>
                        <a class="navbar-brand" href="mainpage.html">
                          <span><img class="brand-logo" src="../assets/img/white.png"></img></span>
                          <span class="brand-title">SIPP MAS</span>
                        </a>
                      </div>

                      <nav id="bs-navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formulir
                              <span class="caret mobile hide"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="mainpage.html">Formulir AK-1</a></li>
                              <li><a href="Form-AK2.html">Formulir AK-2</a></li>
                              <li><a href="pindah.html">Formulir Surat Keterangan Pindah WNI</a></li>
                            </ul>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-user fa-fw"></i>
                                  <span>Logout</span>
                              </a>
                          </li>
                        </ul>
                      </nav>
                  </div>
              </div>
          </div>
        </nav>

        <div class="container padding-none">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">AK-1 Display</li>
            </ol>
        </div>

        <div id="box-content" class="container content-wrapper text-center">
            <div class="row">
                <div class="card card-compact">
                    <div class="card-edit">
                        <a href="checkak1.html"><i class="fa fa-pencil fa-fw "></i></a>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 card-title">
                            <span>Kartika Ayu</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                            <div class="col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 ">
                                        <i class="fa fa-calendar fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 ">
                                        <span>Diisi pada tanggal 22 Okt 2015</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <i class="fa fa-credit-card fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10">
                                        <span>350123456789</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <i class="fa fa-birthday-cake fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10">
                                        <span>Surabaya, 15 Oktober 1989</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 ">
                                        <i class="fa fa-balance-scale fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 ">
                                        <span>Berat, Tinggi Badan adalah 61/171</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <i class="fa fa-map-signs fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10">
                                        <p> Jl. Halmahera Selatan III A, No. 43, RT/RW : 02/03,
                                        Desa: Dinoyo, Kelurahan : Dinoyo, Kabupaten/Kota : Malang</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 ">
                                        <i class="fa fa-phone fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 ">
                                        <span>085645232414</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <i class="fa fa-envelope fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10">
                                        <span>the.doyle@gmail.com</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <i class="fa fa-venus-mars fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10">
                                        <span>Perempuan</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 ">
                                        <i class="fa fa-circle-o fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 ">
                                        <span>Islam</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 ">
                                        <i class="fa fa-users fa-fw md-icon"></i>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 ">
                                        <span>Beban keluarga sama dengan 7</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-compact">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 card-md-title">
                            <i class="fa fa-graduation-cap fa-fw"></i>
                            <span>Pendidikan</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-left">
                            <ul class="list">
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">Oxford University</span>
                                        <span> | </span>
                                        <span>Bussiness Management</span>
                                    </div>
                                    <div class="row">
                                        <span>Strata-2(S2)</span>
                                        <span>|</span>
                                        <span>IPK : 3.8</span>
                                    </div>
                                </li>
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">SMA Negeri 1 Surabaya</span>
                                        <span> | </span>
                                        <span>IPA</span>
                                    </div>
                                    <div class="row">
                                        <span>SMA</span>
                                        <span>|</span>
                                        <span>NEM : 38.40</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-compact">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 card-md-title">
                            <i class="fa fa-language fa-fw"></i>
                            <span>Bahasa Asing</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-left">
                            <ul class="list">
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">English</span>
                                        <span> | </span>
                                        <span>Lisan : 9</span>
                                        <span> | </span>
                                        <span>Tulisan : 9</span>
                                        <span> | </span>
                                        <span>Rata - rata kemampuan bahasa 9</span>
                                    </div>
                                </li>
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">Deutch</span>
                                        <span> | </span>
                                        <span>Lisan : 8</span>
                                        <span> | </span>
                                        <span>Tulisan : 8</span>
                                        <span> | </span>
                                        <span>Rata - rata kemampuan bahasa 8</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-compact">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 card-md-title">
                            <i class="fa fa-certificate fa-fw"></i>
                            <span>Kursus dan Pelatihan</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-left">
                            <ul class="list">
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">Expert Cooking, Inc.</span>
                                        <span> | </span>
                                        <span>Total Nilai : 8.5</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-compact">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 card-md-title">
                            <i class="fa fa-briefcase fa-fw"></i>
                            <span>Pengalaman Kerja</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-left">
                            <ul class="list">
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">Human Development Manager</span>
                                        <span> | di Perusahaan</span>
                                        <span>AMD</span>
                                    </div>
                                    <div class="row">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-compact">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 card-md-title">
                            <i class="fa fa-file fa-fw"></i>
                            <span>File Uploaded</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-left">
                            <ul class="list">
                                <li class="listview">
                                    <span class="midi"><a href="" data-toggle="modal" data-target=".bd-example-modal-sm">Curriculum Vitae</a></span>
                                    <span> | Ditambahkan pada tanggal</span>
                                    <span>10 Januari 2016</span>
                                    <i class="fa fa-file fa-fw"></i>
                                </li>
                                <li class="listview">
                                    <span class="midi"><a href="">Kartu Keluarga</a></span>
                                    <span> | Ditambahkan pada tanggal</span>
                                    <span>10 Januari 2016</span>
                                    <i class="fa fa-file fa-fw"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-compact">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 card-md-title">
                            <i class="fa fa-bookmark fa-fw"></i>
                            <span>Pekerjaan Yang Diinginkan</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-left">
                            <ul class="list">
                                <li class="listview">
                                    <div class="row">
                                        <span class="big">Manager</span>
                                        <span> | Lokasi</span>
                                        <span>Jakarta</span>
                                        <span> | Jarak</span>
                                        <span>10</span>
                                        <span> | dengan Upah sebesar</span>
                                        <span class="big">25.000.000</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- All Modal -->
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    File Uploadnya Ditampilkan Disini
                </div>
            </div>
        </div>

        <script type "text/javascript" src="../assets/lib/jquery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/global.js"></script>
    </body>
</html>
