<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

    <link href="../assets/css/three.css" type="text/css" rel="stylesheet" />
    <link href="../assets/css/temporary.css" type="text/css" rel="stylesheet" />
</head>

<body class="mainpage">
    <nav class="navbar navbar-three navbar-fixed-top">
        <div class="container-main">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="mainpage.html">
                    <span><img class="brand-logo" src="../assets/img/white.png"></img></span>
                    <span class="brand-title">SIPP MAS</span>
                </a>
            </div>

            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formulir
              <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mainpage.html">Formulir AK-1</a></li>
                            <li><a href="form-ak2.html">Formulir AK-2</a></li>
                            <li><a href="pindah.html">Formulir Surat Keterangan Pindah WNI</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-user fa-fw"></i></a></li>
                </ul>
            </nav>
        </div>
    </nav>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">AK-1</li>
    </ol>
    <div id="box-content" class="container-main content-wrapper">
        <div class="panel panel-white clearfix">
            <div class="row">
                <div class="col-sm-9 col-md-9">
                    <span class="panel-title">Keterangan Pindah Datang WNI</span>
                    <span>|</span>
                    <small>Kartika Ayu</small>
                </div>
                <div class="col-sm-3 col-md-3 editBtn">
                    <a href="#" class="btn btn-warning pull-right">Edit <i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <form class="form-horizontal">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <h5>Daerah Asal</h5>
                                <label for="" class="col-sm-4 control-label">Nomor Kartu Keluarga</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Nomor Kartu Keluarga" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Nama Kepala Keluarga</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Nama Kepala Keluarga" disabled>
                                </div>
                            </div>
                            <h5>Alamat</h5>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Alamat</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" rows="3" disabled>Jl. Halmahera Selatan III A no. 43</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">RT/RW</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="RT/RW" value="02/03" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Desa</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Desa" value="Dinoyo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Kelurahan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Kelurahan" value="Dinoyo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Kabupaten</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Kabupaten" value="Malang" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Telepon/HP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Telepon/HP" value="085645232414" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Kode Pos</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Kode_post" placeholder="Kode Post" value="68154" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Data Kepindahan</h5>
                                <label for="" class="col-sm-4 control-label">Alasan Pindah</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Pekerjaan" disabled>
                                </div>
                            </div>
                            <h5>Alamat Tujuan Pindah</h5>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Alamat</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" rows="3" disabled>Jl. Halmahera Selatan III A no. 43</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">RT/RW</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="RT/RW" value="02/03" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Desa</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Desa" value="Dinoyo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Kelurahan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Kelurahan" value="Dinoyo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Kabupaten</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Kabupaten" value="Malang" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Telepon/HP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" placeholder="Telepon/HP" value="085645232414" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Kode Pos</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Kode_post" placeholder="Kode Post" value="68154" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Klasifikasi Pindah</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="klasifikasi" placeholder="Klasifikasi_pindah" value="Dalam Satu Desa/Kecamatan" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Jenis Kepindahan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Jenis" placeholder="Jenis_pindah" value="Kepala Keluarga" disabled>
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Status KK Bagi yang tidak pindah</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Jenis" placeholder="Jenis_pindah" value="Numpang KK" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Status KK Bagi yang pindah</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Jenis" placeholder="Jenis_pindah" value="Membuat KK baru" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Rencana Tanggal Pindah</label>
                              <div class="col-sm-8">
                                  <input type="date" class="form-control" id="Jenis" placeholder="Jenis_pindah" value="22032016" disabled>
                              </div>
                          </div>
                          <h5>Keluarga Yang Pindah</h5>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <table class="table table-bordered disable">
                                      <thead>
                                          <tr>
                                              <td>NO</td>
                                              <td>NIK</td>
                                              <td>Nama</td>
                                              <td>SHDK</td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>1</td>
                                              <td>253645124578963526565</td>
                                              <td>Indah Lestarianti</td>
                                              <td></td>
                                          </tr>
                                          <tr>
                                              <td>2</td>
                                              <td>253365565656565545656</td>
                                              <td>Muhammad Akhdan</td>
                                              <td></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <h5>Data Daerah Tujuan</h5>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">Nomor Kartu Keluarga</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" disabled></input>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Nama Kepala Keluarga</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Jenis" placeholder="Nama Kepala Keluarga" value="" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">NIK Kepala Keluarga</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Jenis" placeholder="NIk" value="NIK Kepala Keluarga" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Status Nomor KK Bagi Yang Pindah</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Jenis" placeholder="" value="" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Tanggal Kedatangan</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Jenis" placeholder="Tanggal" value="Tanggal Kedatangan" disabled>
                              </div>
                          </div>
                          <h5>Alamat</h5>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">Alamat</label>
                              <div class="col-sm-8">
                                  <textarea type="text" class="form-control" rows="3" disabled>Jl. Halmahera Selatan III A no. 43</textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">RT/RW</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="" placeholder="RT/RW" value="02/03" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">Desa</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="" placeholder="Desa" value="Dinoyo" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">Kelurahan</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="" placeholder="Kelurahan" value="Dinoyo" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Kabupaten</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="" placeholder="Kabupaten" value="Malang" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">Telepon/HP</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="" placeholder="Telepon/HP" value="085645232414" disabled>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">Kode Pos</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" id="Kode_post" placeholder="Kode Post" value="68154" disabled>
                              </div>
                          </div>
                          <h5>Keluarga Yang Datang</h5>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <table class="table table-bordered disable">
                                      <thead>
                                          <tr>
                                              <td>NO</td>
                                              <td>NIK</td>
                                              <td>Nama</td>
                                              <td>SHDK</td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                          </tr>
                                          <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="foot" class="panel panel-footer">
            <div class="container-main">
                <div class="col-sm-12 col-md-12">
                    <button class="btn btn-warning pull-left">Cancel</button>
                    <button class="btn btn-success pull-right">Check</button>
                </div>
            </div>
        </div>
    </div>
    <script type "text/javascript" src="../assets/lib/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/global.js"></script>
</body>

</html>
