<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="../assets/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

  <link href="../assets/css/three.css" type="text/css" rel="stylesheet" />
  <link href="../assets/css/temporary.css" type="text/css" rel="stylesheet" />
</head>

<body class="mainpage">
  <nav class="navbar navbar-three navbar-fixed-top">
    <div class="container-main">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="mainpage.html">
          <span><img class="brand-logo" src="../assets/img/white.png"></img></span>
          <span class="brand-title">Application Name</span>
        </a>
      </div>

      <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formulir
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="mainpage.html">Formulir AK-1</a></li>
              <li><a href="Form-AK2.html">Formulir AK-2</a></li>
              <li><a href="#">Formulir Surat Keterangan Pindah WNI</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-user fa-fw"></i></a></li>
        </ul>
      </nav>
    </div>
  </nav>

  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">AK-2</li>
  </ol>
  <div id="box-content" class="container-main content-wrapper">
    <div class="panel panel-white">
      <div class="row">
          <div class="col-sm-9 col-md-9">
            <span class="panel-title"> Formulir Daftar Isian Pencari Kerja
            </span>
          </div>
          <div class="col-sm-3 col-md-3 search">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control" placeholder="search" aria-describedby="basic-addon1">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <table class="table table-bordered ak-1">
            <thead>
              <tr>
                <td>No</td>
                <td>Nama Lengkap</td>
                <td>No. KTP</td>
                <td>Alamat</td>
              </tr>
            </thead>
            <tbody>
			 <tr>
                <td>1</td>
                <td>Kartika Ayu</td>
                <td>35036987564134</td>
                <td>Perum. Bukit Tinggi EA 21</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Herlian Adi</td>
                <td>35034789561236</td>
                <td>Jl. Andara 3 no 6</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Brian Saputra</td>
                <td>350698745612354</td>
                <td>Perum. Cempaka Putih A3/7</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Adtya Handoko</td>
                <td>3503698746136</td>
                <td>Jl. Adelaide 32</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="foot" class="panel panel-footer">
      <div class="container-main">
        <div class="col-sm-12 col-md-12">
          <a href="#" class="btn btn-warning pull-left">Cancel</a>
          <a href="detil-ak2.html"class="btn btn-success pull-right">Check</a>
        </div>
      </div>
    </div>
  </div>
  <script type"text/javascript" src="../assets/lib/jquery/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/js/global.js"></script>
</body>
</html>
