<html>
<head>
</head>
<body>
  <div class="container-nopa">
    <div class="row">
      <div class="col-sm-9 col-md-9 sliderpane">
        <!-- <ul class="wellslider">
        <li><img src="http://www.image-mapper.com/photos/original/missing.png?1263880893" /></li>
        <li><img src="http://demosthenes.info/assets/images/ankor-wat.jpg" /></li>
        <li><img src="http://demosthenes.info/assets/images/taj-mahal.jpg" /></li>
        <li><img src="http://demosthenes.info/assets/images/ibiza.jpg" /></li>
      </ul> -->

    </div>
    <div class="col-sm-3 col-md-3 panel login">
      <div class="row">
        <div class="col-sm-12 col-md-12 top">
          <div class="profile-picture medium-profile-picture">
            <img class="user-photo" src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m(01-32)_gr.jpg" ></img>
          </div>
          <div class="login-title-pane">
            <span class="title"> Login First </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 content">
          <div class="wrapper">
            <div class="login">
              <input type="text" placeholder="Username" autofocus/>
              <i class="fa fa-user"></i>
              <input type="password" placeholder="Password" />
              <i class="fa fa-key"></i>
              <button class="button button-login">Login</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 footer">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
